body{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: #8333A3
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    
}
h4{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}

h5{
    font-size: 1.2rem;
}
hr{
    border-top: 7px solid #FFC839;
}
.bg-light{
    background-color: white !important;
}
.nav-link{
    font-size: 24px;
}

.btn-outline-success, .btn-primary, .btn-lg{
    color: white;
    border-color: #8733A3;
    border-radius: 33px;
}

.btn{
    padding: 0.5rem 3.5rem;
    background-color: #8733A3;
    font-size: 1.2rem;
}

.btn:hover{
    background-color: #FFC839;
    border-color: #8733A3;
}

.navbar-nav{
    margin-left: auto !important;
    justify-content: space-between;
}

.nav-item{
    padding-right: 30px;
}

.pageHeading{
    background-color: #FFF6E8;
}
.combinedTextImage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
#headingText{
    padding-right: 20px;
}

.jumbotron{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.callToAction{
    padding-left: 3rem;
}
.headingInfo{
    padding-bottom: 3rem;
}
#catPic{
    margin-right: 0;
    margin-left: 3rem;
}
.btnJumbotron{
    margin-bottom: 3rem;
}

.sectionHeading{
    color: #8733A3;
    text-align: center;
    padding: 50px;
}

.content{
    background-color: #FFF6E8;
}
.donationsAtWork, .otherDonations{
    padding: 0px 3rem 3rem 3rem;
}

.card{
    border-style: none !important;
    background-color: transparent;
    margin: 50px;
}

.card-img-top{
    height: 10rem;
}
.card-text{
    text-align: center;
}
.card-title{
    text-align: center;
}

.footer{
    margin: 1rem 0;
    background-color: #4A1C59;
    color: white;
    display:grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "footerLinks emailSubscribe";
}

.linksList{
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

#address{
    margin-top: 20px;
}

.links{
    font-size: 24px;
    border-bottom: 2px solid white;
    width: 50%;
}